name: Check documentation
on: [push, pull_request]
jobs:
  docs:
    name: Build documentation & check links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.2.2
        with:
          python-version: "3.8"
      - run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt nox
      - name: Build documentation
        run: nox --force-color --session=docs
      - uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/_build
      - name: Check links
        run: nox --force-color --session=linkcheck
