name: Reset instance
on:
  push:
    branches:
      - main
jobs:
  instance:
    runs-on: ubuntu-latest
    steps:
      - name: Check out cookiecutter-hypermodern-python
        uses: actions/checkout@v2.3.5
        with:
          path: cookiecutter-hypermodern-python
      - name: Check out cookiecutter-hypermodern-python-instance
        uses: actions/checkout@v2.3.5
        with:
          repository: "cjolowicz/cookiecutter-hypermodern-python-instance"
          path: cookiecutter-hypermodern-python-instance
          token: ${{ secrets.X_GITHUB_TOKEN }}
      - name: Set up Python 3.9
        uses: actions/setup-python@v2.2.2
        with:
          python-version: "3.9"
      - name: Install cookiecutter
        working-directory: cookiecutter-hypermodern-python
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip install --constraint=.github/workflows/constraints.txt cookiecutter
      - name: Remove working tree
        run: |
          mv cookiecutter-hypermodern-python-instance/.git tmp.git
          rm -rf cookiecutter-hypermodern-python-instance
          mkdir cookiecutter-hypermodern-python-instance
          mv tmp.git cookiecutter-hypermodern-python-instance/.git
      - name: Invoke cookiecutter
        run: >-
          cookiecutter
          https://github.com/${GITHUB_REPOSITORY}
          --overwrite-if-exists
          --no-input
          project_name=cookiecutter-hypermodern-python-instance
      - name: Create commit
        run: |
          cd cookiecutter-hypermodern-python
          author="$(git show --no-patch --format='%an <%ae>')"
          date="$(git show --no-patch --format=%ad)"
          message="$(git show --no-patch --format=%B | sed 's/ *(#[0-9]\+)//g')

          Original-Commit: ${GITHUB_REPOSITORY}@${GITHUB_SHA::7}"

          cd ../cookiecutter-hypermodern-python-instance
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add .
          git commit --allow-empty --author="$author" --date="$date" --message="$message"
      - name: Push to instance
        run: >-
          git
          -C cookiecutter-hypermodern-python-instance
          push
          https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/cjolowicz/cookiecutter-hypermodern-python-instance.git
          HEAD:main
