name: Tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8']
    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: >-
        pip install
        nox==2019.11.9
        poetry==1.0.3
        cookiecutter==1.7.0
    - run: cookiecutter --no-input .
    - run: cd hypermodern-python && nox
